@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  --swiper-pagination-bullet: white;
}

.swiper-pagination-bullet {
  color: var(--swiper-pagination-bullet) !important;
}

.navbar {
  transition: transform 0.3s ease-in-out;
}

.navbar.scrolled {
  transform: translateY(-100%);
}

/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --border: 20 5.9% 90%;
    --input: 25 5.9% 80%;

    /* Change Primary color */
    --primary: 245, 72%, 59%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --ring: 245, 72%, 59%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 12 6.5% 15.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-button {
  position: relative;
  /* Make sure the button's position is relative */
}

.custom-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #a8a29e; /* Set your desired border properties here */
  transform: translate(10px, -10px);
  transition: transform 0.35s;
  z-index: -1;
  border-radius: 4px;
}

.custom-button:hover::before {
  transform: translate(0, 0);
}

.custom-button-2 {
  position: relative; /* Make sure the button's position is relative */
}

.custom-button-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #a8a29e; /* Set your desired border properties here */
  transform: translate(10px, -10px);
  transition: transform 0.35s;
  z-index: -1;
  border-radius: 4px;
}

.custom-button-2:hover::before {
  transform: translate(0, 0);
  overflow: hidden;
}

.box-desc {
  position: relative;
  transition: all 0.4s ease-in-out;
}

.box-desc:after {
  background-color: #ff0336;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: 0 auto;
  /* transform: translateX(8%); */
  position: absolute;
  right: 0;
  transition: all 0.4s ease-in-out;
  width: 80px;
}

.box-desc:hover::after {
  width: 98%;
  border-radius: 0 0 800px 800px;
}

.classCard::before {
  display: block;
  position: absolute;
  -webkit-transform: scale(0.65);
  transform: scale(0.65);
  transition: all 0.4s;
  width: 50%;
  z-index: 6;
}

.classCard:first-child::before {
  width: 25%;
}

.classCard:last-child::before {
  width: 25%;
}

.classCard::after {
  background-color: #ffffff4d;
  border-radius: 0 50px 50px 0;
  bottom: 50%;
  content: "";
  height: 69px;
  left: -49px;
  position: absolute;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  transition: all 0.4s;
  width: 140px;
  z-index: 5;
}

.classCard:hover::after {
  background-color: #fff;
}

.classCard:nth-child(1)::before {
  bottom: 45%;
  content: url("/assets/icons/calisthenics.png");
  left: -1px;
}

.classCard:nth-child(2)::before {
  bottom: 45%;
  content: url("/assets/icons/yoga.png");
  left: -1px;
}

.classCard:nth-child(3)::before {
  bottom: 45%;
  content: url("/assets/icons/fitness.png");
  left: -1px;
}

.classCard:nth-child(4)::before {
  bottom: 45%;
  content: url("/assets/icons/arm-wrestling.png");
  left: -1px;
}

.classCard:nth-child(5)::before {
  bottom: 45%;
  content: url("/assets/icons/cycling.png");
  left: -1px;
}
.classCard:nth-child(6)::before {
  bottom: 45%;
  content: url("/assets/icons/powerlifting.png");
  left: -1px;
}

@media (min-width: 300px) and (max-width: 400px) {
  .classCard:nth-child(1)::before {
    left: 10px;
  }

  .classCard:nth-child(6)::before {
    left: 10px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .classCard:nth-child(1)::before {
    left: 0px;
  }

  .classCard:nth-child(2)::before {
    left: -30px;
    top: 40%;
  }

  .classCard:nth-child(3)::before {
    left: -27px;
    top: 42%;
  }

  .classCard:nth-child(4)::before {
    left: -32px;
  }

  .classCard:nth-child(5)::before {
    left: -32px;
  }

  .classCard:nth-child(6)::before {
    left: 0px;
  }
}

.singleClassCard:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px 50px;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.009) 11.7%,
    hsla(0, 0%, 0%, 0.034) 22.1%,
    hsla(0, 0%, 0%, 0.072) 31.2%,
    hsla(0, 0%, 0%, 0.123) 39.4%,
    hsla(0, 0%, 0%, 0.182) 46.6%,
    hsla(0, 0%, 0%, 0.249) 53.1%,
    hsla(0, 0%, 0%, 0.32) 58.9%,
    hsla(0, 0%, 0%, 0.394) 64.3%,
    hsla(0, 0%, 0%, 0.468) 69.3%,
    hsla(0, 0%, 0%, 0.54) 74.1%,
    hsla(0, 0%, 0%, 0.607) 78.8%,
    hsla(0, 0%, 0%, 0.668) 83.6%,
    hsla(0, 0%, 0%, 0.721) 88.7%,
    hsla(0, 0%, 0%, 0.762) 94.1%,
    hsla(0, 0%, 0%, 0.79) 100%
  );
  transition: all 300ms ease-in;
  pointer-events: none;
}

.singleClassCard:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translateY(-90%);
  transition: all 300ms ease-in;
}

.center-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
